

body {
  width: 100%;
  margin: 0 auto;
}

header {
  text-align: center;
}

header h1 {
  font-size: 100px;
  color: #000000;
  /* font-weight: 200; */
}

input {
  font-size: 25px;
  color: #000000;
  width: 100%;
 
  border: none;
  outline: none;
  border-bottom: 1px solid #000000;
  padding: 5px;
}
.cursor-point{
  cursor: pointer;
}
.task {
  background-color: #000000;
  width: 50%;
  overflow-x: hidden;
  border-radius: 5px;
 
}

.task span {
  color: #FFFFFF;
}

.icon {
  float: right;
  margin-right: 20px;
  cursor: pointer;
}

/* article {
  display: grid;
} */

.edit-todo {
  /* width: 85%; */
  font-size: 16px;
  color: #FFFFFF;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #FFFFFF;
}

.button {
  margin: 0 10px;
  padding: 10px;
  font-size: 14px;
  color: #000000;
  background-color: #fff;
  border: none;
  cursor: pointer;
  width: 100px;
  border-radius: 5px;
  margin-top: 15px;
}

.button.selected {
  color: #FFF;
  background-color: #000000;
}

.button.clear {
  float: right;
  color: #FFF;
  background-color: #ee1630;
  width: 170px;
}